# Block common file extensions
*.exe
*.doc
*.docx
*.gdoc

# Sample key data

09_Project_01/Version_1/TestKeys/admin_pass.txt
09_Project_01/Version_1/TestKeys/linwebkey.pub
09_Project_01/Version_1/testing/deploy.bicep
09_Project_01/Version_1/testing/deploy.json
09_Project_01/Version_1/testing/deploy22.json
09_Project_01/Version_1/testing/gen_pw.bicep
09_Project_01/Version_1/testing/mtest.bicep
09_Project_01/Version_1/testing/pwgen115.ps1
09_Project_01/Version_1/testing/gen.bicep
